
<img src="../../assets/images/healthcare-background.jpg">

  <div class='container'>
    <h1 class='white2 bigFont'>Healthcare Mounts</h1>
  </div> <!-- End of Header -->
  <div class='section'>
    <div class='container transparent-bars-header'>
      <div class='section black right'>
        <h2 class='black2'>Flexible and Friendly Mounts for Demanding Environments</h2>
      </div>
      <div class='container bgWhite'>
        <div class='col col-7 clearfix'>
          <p class=''>
          RAM® Mounts has a full suite of mounting solutions for wheel chairs, scanner, medical carts and hospital beds. The innovative ball-and-socket design utilizes a patented rubber-coated ball providing superior hold and vibration reduction.</p><p> Designed to be impact resistant and adapt to any situation, RAM® Mounts are made in the U.S.A. and most products are backed with a lifetime warranty.</p>
        </div>
        <div class="col col-5 col-medium-5 clearfix">
          <img src="/images/industries/thumbs/healthcare-thumb.jpg" class='support' alt='Healthcare'>
          <div class="bookmark"><a class="breadcrumb-link" href="/industry/">Industry</a>&nbsp;// Healthcare</div>
          <div>
          Contact our Experts to help you create a fleet mounting solution.
          </div>
          <div class="clearfix assistant-button">
            <a href="#expert" class="assistant">Expert Mounting Advice</a>
            <div class="arrow">+</div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- End of top Content -->
  <navigation>
    <div class=''>
      <div class='section transparent-nav-bar'>
        <div class='mount-menu'>
          <div class='row'>
            <div class="col col-3">
              <div class="device-icon-block">
                  <a href='#intelliskin' id='showIntelliSkin' class="phone-mount-menu">IntelliSkin with GDS Tech</a>
              </div>
            </div>
            <div class="col col-3">
              <div class="device-icon-block">
                <a href='#provenValue' id="seeValue" class="phone-mount-menu">Proven Value</a>
              </div>
            </div>
            <div class="col col-3">
              <div class="device-icon-block">
                <a href='#popular-products' id='items' class="phone-mount-menu">Popular Products</a>
              </div>
            </div>
            <div class="col col-3">
              <div class="device-icon-block">
                <a href="#expert" id='help' class="phone-mount-menu">Ask an Expert</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- End of Nav bar -->
  </navigation>

  <div id='intelliskin' class='section'>
    <div class="container">
      <div class='col clearfix transparent-bars-header'>
        <div class='section black'>
          <h2 class='fontGreen'>IntelliSkin™ with GDS™ Tech for Healthcare</h2>
        </div>
        <div class='container bgGreen'>
          <div class="col flex-gallery">
            <div class="col col-8 clearfix">
              <p class='white'>
              IntelliSkin™ is a protective device case that features an integrated power connector compatible with any GDS™ charging dock. This prevents damage to the device charging port and creates a universal docking platform compatible with any device wrapped with an IntelliSkin&trade; case. </p>
              <p class='white'>IntelliSkin&trade; ruggedizes the consumer devices that are permeating every vertical and adds functionality by simplifying the frequent docking and undocking of smartphones and tablets. IntelliSkin&trade; and GDS&trade; fit into your business operations through our ability to customize a mounting solution that fits how you do business.</p>
              <div class="row">
                <div class="col col-6 clearfix">
                  <a href="#expert" class="button buttons-on-white">Talk with an IntelliSkin Expert</a>
                </div>
                <div class="col col-6 flex-thumbs">
                  <img src="/images/industries/intelliskin/aviation.jpg">
                  <img src="/images/products/intelliskin/accessories4.jpg">
                  <img src="/images/products/intelliskin/accessories3.jpg">
                  <img src="/images/products/intelliskin/tablet1.jpg">
                </div>
              </div>
            </div>
            <div class="col col-3 flex-image right">
              <img src="/images/industries/intelliskin/aviation.jpg" class="rounded" alt="Tablet with IntelliSkin and Vehicle Dock with Windshield Mount in Cockpit">
            </div>
          </div>
        </div> <!-- End of White Block -->
      </div> <!-- End of Transparent -->
    </div> <!-- End of First Container -->
  </div> <!-- End IntelliSkin Section -->


  <div id='provenValue' class='section'>
    <div class='container'>
      <div class="section section-grey transparent-bars">
        <h2 class='black2'>Healthcare Partners</h2>

        <div class="clearfix container bgWhite">
          <div class="solutions-text white">RAM® Mounts are used across numerous airline. Contact us to see how RAM® Mounts will fit your needs.</div>
          <div class="row">
            <div class="col col-3">
              <img src="/images/industries/healthcare/permobile.jpg" class="center" alt='permobile'>
            </div>
            <div class="col col-3">
              <img src="/images/industries/healthcare/prime-mobility.jpg" class="center" alt='Pride Mobility Scooters'>
            </div>
            <div class="col col-3">
              <img src="/images/industries/healthcare/sunrise-scooters.png" class="center" alt='Sunrise Medical'>
            </div>
            <div class="col col-3">
              <img src="/images/industries/healthcare/samsung.png" class="center" alt='Samsung'>
            </div>
          </div>
        </div> <!-- End of White Box -->
      </div> <!-- End of Transparent bar -->
    </div> <!-- End of Container -->
  </div> <!-- End of Proven Value -->

  <div class='section'>
    <div class='container'>
      <div id='popular-products' class='col clearfix transparent-bars'>
        
      </div>
    </div>
  </div><!-- End of popular products -->


  <div class='section'>
    <div class='container'>
      <div id='popular-products' class='col clearfix transparent-bars'>
        
      </div>
    </div>
  </div><!-- End of popular products -->


  <div class='section'>
    <div class='container'>
      <div id="expert" class="section section-grey transparent-bars">
        <h2 class='black2'>Consult with an Expert</h2>
        <div class="clearfix container bgWhite">
          <p>We take a consultative approach with our customers. Submit your contact information and an industry-specific product specialist will contact you to review your needs and work with you to build solutions specific to your operation.</p>

          <form action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">

          <input type=hidden name="oid" value="00DA0000000IMDm">
          <input type=hidden name="retURL" value="http://www.rammount.com/thanks">
          <input type=hidden name="00NA0000000kjGy" value="Commercial Trucking">
          <input type=hidden name="lead_source" value="Website">

          <div class="form">
            <form id="email-form" name="email-form" data-name="Email Form">
              <div class="row">
                <div class="col col-2">
                  <label for="name" class="field-name-left">First Name</label>
                </div>
                <div class="col col-10">
                  <input id="name" type="text" placeholder="First Name" name="first_name" data-name="First Name" class="input first_name">
                </div>
              </div>
              <div class="row">
                <div class="col col-2">
                  <label for="name" class="field-name-left">Last Name</label>
                </div>
                <div class="col col-10">
                  <input id="name-4" type="text" placeholder="Last Name" name="last_name" data-name="Last Name" class="input last_name">
                </div>
              </div>
              <div class="row">
                <div class="col col-2">
                  <label for="email">Company</label>
                </div>
                <div class="col col-10">
                  <input id="email" type="text" placeholder="Your company or organization" name="company" data-name="Company" required="required" class="input company">
                </div>
              </div>
              <div class="row">
                <div class="col col-2">
                  <label for="name-2">Email Address</label>
                </div>
                <div class="col col-10">
                  <input id="email-2" type="email" placeholder="Your Email" name="email" data-name="email" class="input">
                </div>
              </div>
              <div class="row">
                <div class="col col-2">
                  <label for="name-3">Phone</label>
                </div>
                <div class="col col-10">
                  <input id="phone" type="text" placeholder="Best # to reach you at" name="phone" data-name="Phone" class="input phone">
                </div>
              </div>
              <div class="row">
                <div class="col col-2">
                  
                </div>
                <div class="col col-10">
                  <label for="field">How would you like us to help you?</label>
                  <textarea id="description" placeholder="" name="description" class="input description"></textarea>



                  <input type="submit" value="Submit" data-wait="Please wait..." class="button submit-button">
                </div>
              </div>
            </form>
           
          </div> <!-- End of Form -->

        </form>
        </div>
      </div> <!-- End of form Section -->
    </div> <!-- End of Container -->
  </div> <!-- End of Section -->

<!-- End of Section -->

<!-- End of Blue Bar -->